<dl>
  <dt>First number</dt>
  <dd>
    <%= @num_first%>
  </dd>

  <dt>Second number</dt>
  <dd>
      <%= @num_second%>
  </dd>

  <dt>Result</dt>
  <dd>
        <%= @sum_of_num%>
  </dd>
</dl>

<a href="/multiply">Do another multiplication</a>
